table.dataTable tbody th, table.dataTable tbody td {
    padding: 0px;
}
h4,h5,a{
    padding:5px
}
span{
    padding:10px
}
table{
    table-layout: auto;
    width: 100%;
}
tbody, td, tfoot, th, thead, tr {
    border-width: 1px;
}
.custom-color {
    background-color: #ff0000; /* Replace with your desired background color */
    color: #ffffff; /* Replace with your desired text color */
}