{% extends "match.html"%}

{% block title %}Match - All - data{% endblock %}

{% block match %}
    <!-- display player database -->
    <div style="width: 100%">
        <table id="DataTable" class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>match id</th>
                    <th>date</th>
                    <th>start time</th>
                    <th>time</th>
                    <th>length</th>
                    <th>mode</th>
                    <th>game version</th>
                    <th>team</th>
                    <th>win</th>
                    <th>early surrender</th>
                    <th>surrender</th>
                    <th>summoner name</th>
                    <th>level</th>
                    <th>champion</th>
                    <th>kills</th>
                    <th>deaths</th>
                    <th>assists</th>
                    <th>KDA</th>
                    <th>quadra kills</th>
                    <th>penta kills</th>
                    <th>damage to champ</th>
                    <th>damage taken</th>
                    <th>gold earned</th>
                    <th>minions killed</th>
                </tr>
            </thead>
            <tbody>
                {% for player in db_player_list %}
                    {% for match in player %}
                        <tr>
                            {% for column in match %}
                                <td>{{column}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block script %}
        <script>
            $('#DataTable').dataTable( {
                order: [[0, 'desc']],
                dom: 'lpftrip',
                columnDefs: [
                    {target: [3,10], visible: false, searchable: false,},
                ],
                lengthMenu: [
                [20, 50, 100, -1],
                [20, 50, 100, 'All']
            ]
            } );
        </script>
{% endblock %}