{% extends "base.html"%}

{% block CSS %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style_match.css') }}">
{% endblock %}

{% block title %}Match - All - stat{% endblock %}

{% block content %}
    <div style="padding:10px">
        <span style="display:flex; flex-wrap:wrap; border: solid 1px; width:100%">
            <a class="button" href="/match/">All</a>
            {% for player in player_list %}
                <a href="/match/{{player.summoner_name}}">{{player.summoner_name}}</a>
            {% endfor %}
        </span>
    </div>
        
    {% block span %}
        <span style="display: flex">
            <h5>All</h5>
            <a href="/match/">ARAM STAT</a>
            <a href="/match/team_type">TEAM TYPE</a>
            <a href="/match/team">BY ID</a>
            <a href="/match/data">ALL DATA</a>
        </span>
    {% endblock %}

    {% block match %}
        <!-- display player database -->
        {{df|safe}}
    {% endblock %}
{% endblock %}

{% block script %}
<script>
    const element = document.getElementsByTagName("table")[0];
    element.setAttribute('id','DataTable');
    element.setAttribute('class','table table-striped');

    $('#DataTable').dataTable( {
        order: [[2, 'desc']],
        columnDefs: [
            {target: [0], visible: false, searchable: false,},
            {width : "500px", targets: [0]},
            {
                targets: [2,5],
                createdCell: function (td) {
                    $(td).css('background-color', "LightPink")
                }
            },
            {
                targets: [7,10,12,15,17,20,22,25,27,30,32,35,37,40],
                createdCell: function (td) {
                    $(td).css('background-color', "Aquamarine")
                }
            },
        ],
        lengthMenu: [
                [50, 100, -1],
                [50, 100, 'All']
        ],  
    } );
</script>
{% endblock %}